<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>ZirconTech</title>
    </head>
    <body>
        <table style="width: 100%; max-width: 600px; margin: 20px;">
            <thHereead>
                <tr>
                    <th align="center" style="padding: 10px 0 10px 0;">

                    </th>
                </tr>
            </thHereead>
            <tbody>
                <tr>
                    <td style="padding: 0 20px;">
                        <p style="font-family: sans-serif; font-size: 16px;"><b>Dear <%= first_name %> <%= last_name %>,</b></p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0 20px;">
                        <p style="font-family: sans-serif; font-size: 16px;">Here the text body</p>
                        <p style="font-family: sans-serif; font-size: 16px;">........</p>
                     </td>
                </tr>
                <tr>

                    <td style="padding: 0 20px;">
                        <p style="font-family: sans-serif; font-size: 16px;">........</p>
                    </td>

                </tr>
                <tr>
                    <td style="padding: 0 20px;">
                        <p style="font-family: sans-serif; font-size: 16px;">
                            Thank you ........
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px;">
                        Sincerely,<br/>
                        <b>The Zircon Legal Team</b><br/>
                        <a style="font-family: sans-serif; font-size: 16px;" href="Link">link to page</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
