<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>ZirconTech</title>

    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>


</head>
<body style="background-color: khaki">
<table style="width: 100%; max-width: 70%; margin: 20px;">

    <tr style="width: 100%;">
        <td style="width: 40%;">
            <p style="font-family: sans-serif; font-size: 16px;">
                <b>COMISION DE APOYO DE PROGARAMAS <br>
                    ASISTENCIALES ESPECIALES DE A.S.S.E
                </b>
            </p>
        </td>
        <td style="width: 20%;">
        </td>
        <td style="width: 40%; height: auto; border: black;  border-style: groove; border-width: thin; ">
            <p style="font-family: sans-serif; font-size: 12px;">
                RUT 21 573992 0015 <br>
                <b>RESGUARDO</b><br>
                Serie X No XXXX
            </p>
        </td>
    </tr>


    <div>

    </div>


    <tr style="width: 100%;">

        <td style="width: 33%; align-content: flex-start">
            <p style="font-family: sans-serif; font-size: 12px;">
                Magallanes 1320 <br>
                Montevideo <br>
                Uruguay
            </p>
        </td>

        <td style="width: 33%;">

            <table width="100%" border="1" cellpadding="20">
                <tbody>
                <tr>
                    <td>RUT&nbsp;</td>
                </tr>
                <tr>
                    <td>xxxxxxxx&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </td>

        <td style="width: 33%;">
            <table width="100%" border="1" cellpadding="20">
                <tbody>
                <tr>
                    <td>FECHA&nbsp;</td>
                </tr>
                <tr>
                    <td>xxxxxxxx&nbsp;</td>
                </tr>
                </tbody>
            </table>

        </td>

    </tr>
    <br>
    <tr style="width: 70%;">
        <table style="width:70%" border="1" cellpadding="20">
            <tbody>
            <tr>
                <td>
                    <p style="font-family: sans-serif; font-size: 12px;">
                        Razón Social: xxxxxxxxxxxxxxxxxxx<br>
                        Domicilio xxxxxxxxxxxxx
                    </p>
                </td>
            </tr>
            </tbody>
        </table>

    </tr>
    <br>

    <tr style="width: 70%;">

        <table style="width:70%">
            <tr>
                <th>N° FACTURA</th>
                <th>FECHA</th>
                <th>IMPORTE SIN IVA</th>
                <th>RETENCION IRPF</th>
                <th>RETENCION IVA</th>
                <th>TOTAL RETENCION</th>
            </tr>
            <tr>
                <td>XXXXX</td>
                <td>XXXXXXX</td>
                <td>XXXXX</td>
                <td>XXXXX</td>
                <td>XXXX</td>
                <td>XXXX</td>
            </tr>
        </table>
    </tr>
    <br>

    <tr style="width: 70%;">

        <table style="width:70%">
            <tr>
                <th>NOMBRE</th>
                <th>Cedula de Indentidad</th>
                <th>FIRMA</th>
            </tr>
            <tr>
                <td>XXXXX</td>
                <td>XXXXXXX</td>
                <td>XXXXX</td>

            </tr>
        </table>
    </tr>


</table>
</body>
</html>
